
<style>
.background-depoimentos {
  background-color: #FFFFFF;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(45deg, #f8fcfe 0, #f8fcfe 2px, #FFFFFF 0, #FFFFFF 50%);
}
</style>

<div class="background-depoimentos">
<br>
<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
<div class="container">
  <h3 style="color: black;">O que estão falando sobre o curso de planejador financeiro pessoal do IGF?</h3>
  <div class="row">
    <div class="col-sm" style="margin: 5px;">

        <div style="display: flex; align-items: start; justify-content: space-between;">
          <div style="padding: 5px;">
            <h4>
            Cláudia Rezende
            <i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i>
            </h4>
            <p class="card-text" style="font-size: 2vh;">"Queria me dedicar a minha família mas não queria parar de trabalhar, fiz o curso Guia Financeiro e hoje trabalho da minha casa ajudando pessoas como planejadora financeira pessoal"</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/bSWDsgWRYKI?autoplay=1&controls=0&fs=0&color=white" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm" style="margin: 5px;">

        <div style="display: flex; align-items: start; justify-content: space-between;">
          <div style="padding: 5px;">
            <h4>
            Leonardo Ribeiro
            <i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i>
            </h4>
            <p class="card-text" style="font-size: 2vh;">"Hoje sou realizado como profissional autônomo graças ao curso de planejamento financeiro pessoal do IGF"</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NzDlOXrgCFg?autoplay=0&controls=0&fs=0&color=white" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm" style="margin: 5px;">

        <div style="display: flex; align-items: start; justify-content: space-between;">
          <div style="padding: 5px;">
            <h4>
            Josilene Cordina
            <i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i>
            </h4>
            <p class="card-text" style="font-size: 2vh;">"Em 2019 fiz o curso de planejamento financeiro da Gua Finaceiro, apesar de atuar na área financeria a mais de 15 anos o curso agregou muito em conhecimento como estratégias e abordagens de venda."</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5qaMaOK73CQ?autoplay=0&controls=0&fs=0&color=white" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div>
</div>

 <!-- CARD COM LINK DE COMPRA -->
  <center>
    <div style="background-color: white; border-radius: 3px; max-width: 800px; padding: 1.5vh; margin: 1vh; margin-top: 0vh; letter-spacing: 1px;">
    <center>
      <h2 style="font-size: 2.2vh; font-weight: bold; line-height: 1.5;">Faça parte do curso <br> <spam style="font-size: 4vh;">Guia Financeiro<spam></h2>
      <h3 style="font-size: 2vh; margin-top: 1vh; letter-spacing: 0px;">De <spam style="text-decoration: line-through;">R$2927</spam> por R$1927 ou em até 12x de R$160,58</h3>
      <%= link_to "Quero ser planejador", "https://pay.hotmart.com/U16126935I?hideBillet=1", class: "btn btn-primary btn-lg"%>
      <br>
      <%= link_to "Inscreva-se", "https://pay.hotmart.com/U16126935I?hideBillet=1"%>
    </center>
    </div>
  </center>
<!-- FIM: CARD COM LINK DE COMPRA -->

</div>
<br>
<br>
</div>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
