
<style>
.background-depoimentos {
  background-color: #FFFFFF;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(45deg, #e8f7fc 0, #e8f7fc 2px, #FFFFFF 0, #FFFFFF 50%);
}
</style>

<div class="background-depoimentos">
<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
<div class="container">
  <h3 style="color: black;">O que estão falando sobre o IGF</h3>
  <div class="row">
    <div class="col-sm" style="margin: 5px;">

        <div style="display: flex; align-items: start; justify-content: space-between;">
          <div style="padding: 5px;">
            <h4>
            Cláudia Rezende
            <i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i>
            </h4>
            <p class="card-text">"O curso trouxe abordagem que no dia a dia confesso não parar pra pensar"</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HI18nHnmHGM?autoplay=1&controls=0&fs=0&color=white" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm" style="margin: 5px;">

        <div style="display: flex; align-items: start; justify-content: space-between;">
          <div style="padding: 5px;">
            <h4>
            Letícia Salume
            <i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i>
            </h4>
            <p class="card-text">"Não consigo hoje dar um passo sem o auxílio do Marcello"</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/H-b3ONEJUuQ?autoplay=0&controls=0&fs=0&color=white" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm" style="margin: 5px;">

        <div style="display: flex; align-items: start; justify-content: space-between;">
          <div style="padding: 5px;">
            <h4>
            Juliano Guimarães
            <i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i>
            </h4>
            <p class="card-text">"Quero aprender sobre planejamento financeiro, fiquei surpreendido com a aula"</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SBZC_72VLv4?autoplay=0&controls=0&fs=0&color=white" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
</div>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
