

<style>

.background-ementa {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3vh; z-index: 10; position:relative; color: gray;">
}


.bullet-title {
  color: white;
  font-size: 3vh;
  line-height: 1.4;
}

.bullet-item {
  font-weight: 300;
  color: white;
  line-height: 2;
  font-size: 2.2vh;
  letter-spacing: 1px;
}




</style>



<!-- SEÇÃO EMENTA-->
<div class="background-ementa">


<div class="container" style="z-index: 1; font-family: 'Roboto', sans-serif; color: white;">

<center>
  <h3  style="color: white; font-size: 4vh; line-height: 1.4; font-weight: 900;">O que você vai aprender na Jornada Sono do Bebê?</h3>
  <br>
  <center><p>A Mandala do Sono</p></center>
  <%= image_tag "mandalasono.jpg", class: "img-responsive max-gif-size", style: "border-radius: 3px" %>
  <br>
  <br>

  <div class="bullet-item">
    <p style="margin-bottom: 2.4vh;"> <spam style="font-size: 3vh; font-weight: bold; line-height: 1vh;">1. </spam> Mapear a causa dos problemas de sono do seu filho.</p>
    <p style="margin-bottom: 2.4vh;"> <spam style="font-size: 3vh; font-weight: bold; line-height: 1vh;">2. </spam> Aplicar exercício prático para melhorar o sono do seu pequeno.</p>
    <p style="margin-bottom: 2.4vh;"> <spam style="font-size: 3vh; font-weight: bold; line-height: 1vh;">3. </spam> Diminuir os despertares noturnos do seu bebê e/ou criança.</p>
  </div>
</center>






</div>
<br>
</div>
<!--FIM: EMENTA-->
