

<style>




.bullet-title {
  color: white;
  font-size: 4vh;
  line-height: 1.4;
}

.bullet-item {
  font-weight: 300;
  color: white;
  line-height: 2;
  font-size: 2.2vh;
  letter-spacing: 1px;


}

.bullet-ementa {
  color: black;
  padding-right: 4vh;
  padding-left: 4vh;
  font-weight: bold;
}

.background-oque {
  background-color: #FFFFFF;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(45deg, #e8f7fc 0, #e8f7fc 2px, #FFFFFF 0, #FFFFFF 50%);
}

</style>




<!-- SEÇÃO EMENTA-->
<div class="background-oque">
<div class="container ">
  <br>
  <h3 class="bullet-title" style="color: black;">O que você vai aprender na Jornada Planejador Financeiro Pessoal?</h3>
    <div class="bullet-item bullet-ementa">
      <div style="margin-bottom: 1.5vh;">
        <p> <spam style="font-size: 3vh; font-weight: bold;">1. </spam> Gostaria de uma renda extra no final do mês? Sim, você pode ganhar até R$ XX por mês como planejador financeiro pessoal</p>


      </div>

      <div style="margin-bottom: 1.5vh;">
        <p> <spam style="font-size: 3vh; font-weight: bold;">1. </spam> Gostaria de uma renda extra no final do mês? Sim, você pode ganhar até R$ XX por mês como planejador financeiro pessoal</p>


      </div>

      <div style="margin-bottom: 1vh;">
        <p> <spam style="font-size: 3vh; font-weight: bold;">1. </spam> Gostaria de uma renda extra no final do mês? Sim, você pode ganhar até R$ XX por mês como planejador financeiro pessoal</p>
          <li>xxxxkash jahfkjhfs akjffh</li>

      </div>

      <div style="margin-bottom: 1vh;">
        <p> <spam style="font-size: 3vh; font-weight: bold;">1. </spam> Gostaria de uma renda extra no final do mês? Sim, você pode ganhar até R$ XX por mês como planejador financeiro pessoal</p>
          <li>xxxxkash jahfkjhfs akjffh</li>

      </div>
    </div>
</div>
<br>
</div>
<!--FIM: EMENTA-->
