

<style>




.bullet-title {
  color: white;
  font-size: 4vh;
  line-height: 1.4;
}

.bullet-item {
  font-weight: 300;
  color: white;
  line-height: 2;
  font-size: 2.2vh;
  letter-spacing: 1px;


}

.bullet-ementa {
  color: black;
  padding-right: 4vh;
  padding-left: 4vh;
  font-weight: bold;
}

.background-oque {
  background-color: #FFFFFF;
  opacity: 1;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(45deg, #f8fcfe 0, #f8fcfe 2px, #FFFFFF 0, #FFFFFF 50%);
}

</style>




<!-- SEÇÃO EMENTA-->
<div class="background-oque">
<div class="container ">
  <br>
  <h3 class="bullet-title" style="color: black;">O que você vai aprender na Jornada Planejador Financeiro Pessoal?</h3>
    <div class="bullet-item bullet-ementa">
      <br>
      <div style="margin-bottom: 3vh;">
        <p style="font-size: 3vh;"> <i style="font-size: 5vh;"  class="fas fa-archway"> </i>  A grande oportunidade de 2021: Planejamento Financeiro Pessoal</p>
          <li>O que é planejamento financeiro pessoal?</li>
          <li>O que faz um planejador financeiro pessoal?</li>
          <li>Quanto você pode faturar atuando como planejador financeiro pessoal?</li>
          <li>Vantagens de ser um planejador financeiro pessoal</li>
          <li>Qual o tamanho desse mercado no Brasil?</li>

      </div>

      <div style="margin-bottom: 3vh;">
        <p style="font-size: 3vh;"> <i style="font-size: 5vh;"  class="fas fa-archway"> </i>  Quem pode se tornar um planejador financeiro pessoal?</p>
          <li>Quais são os perfis de sucesso na profissão de planejamento financeiro pessoal?</li>
          <li>Que conhecimentos são necessários para atuar na profissão?</li>
          <li>Que habilidades são necessárias para atuar na profissão?</li>
      </div>

      <div style="margin-bottom: 3vh;">
        <p style="font-size: 3vh;"> <i style="font-size: 5vh;"  class="fas fa-archway"> </i>  Estudo de caso real</p>
          <li>Análise de estudo de caso real e o dia a dia de um planejador financeiro pessoal</li>
      </div>

      <div style="margin-bottom: 3vh;">
        <p style="font-size: 3vh;"> <i style="font-size: 5vh;"  class="fas fa-archway"> </i>  Como começar a atuar na profissão?</p>
          <li>É necessário certificação para atuar como planejador financeiro pessoal?</li>
          <li>Como conseguir o primeiro cliente e cobrar pelo seu serviço?</li>
      </div>
    </div>

<div class="background-ementa" style="padding: 2vh; border-radius: 3px;">
<center>
  <h2 class="" style="font-size: 4vh; line-height: 1.4; color: white;">JORNADA PLANEJADOR FINANCEIRO PESSOAL</h2>
  <p style="font-size: 3vh; color: white;">Fature como planejador financeiro pessoal começando do zero até seu primeiro cliente</p>
  <!-- DATA-->
  <div style="color: white;">
    <hr style="color:white; max-width: 400px;">
    <i class="fas fa-calendar-alt" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">04/04 | 20h00</p></i> &nbsp; &nbsp; &nbsp;
    <i class="fas fa-laptop-code" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">Online</p></i> &nbsp; &nbsp; &nbsp;
    <i class="fas fa-money-bill-wave" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">100% Grátis</p></i>
  </div>
  <!-- DATA END-->
  <script async data-uid="aa579bb205" src="https://dedicated-experimenter-5056.ck.page/aa579bb205/index.js"></script>
</center>
</div>


</div>
<br>
</div>
<!--FIM: EMENTA-->
