
<style type="text/css">
.link-style-obrigado {
  color: black;
  font-size: 5vh;
  padding: 2vh;
  margin-top: 0vh;
}
</style>



<div style="background-color: #F7F7F7; padding: 2vh; margin-top: -20px;">
  <div class="container" style="z-index: 1;">
    <center>
      <br>
      <br>
      <p style="font-size: 3.5vh;">Nos acompanhe também nas redes socias, lá você vai encontrar várias <strong>dicas sobre como se tornar um planejador financeiro profissional</strong> e <strong>faturar com seus primeiros clientes</strong></p>
    <div>
      <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter link-style-obrigado hide"></i></a>
      <a href="https://www.linkedin.com/company/entrevista-descomplicada" target="_blank"><i class="fab fa-linkedin link-style-obrigado hide"></i></a>
      <a href="https://www.facebook.com/institutoguiafinanceiro" target="_blank"><i class="fab fa-facebook-square link-style-obrigado"></i></a>
      <a href="https://www.instagram.com/igf_planejadores/" target="_blank"><i class="fab fa-instagram link-style-obrigado"></i></a>
      <a href="https://www.youtube.com/channel/UC9l5V9TB0gUGjXxVBjQm6tg" target="_blank"><i class="fab fa-youtube-square link-style-obrigado"></i></a>
    </div>
    </center>
    <br>
  </div>
</div>
