<!-- QUEM SOMOS NOS ***************** -->

<style>
  .btn-text {
  color: white;
  background-color: #F0386B;
  margin: 20px;
  font-size: 2.5vh;
}

.round-img {
  border-radius: 50%;
  height: 200px;
}

.img-size {
  height: 150px;
  border-image: 3px;
}
</style>

<div style="
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3vh; z-index: 10; position:relative; color: gray;">

  <div class="container" style="color: white;">

  <h2>Conheça o time do Instituto Guia Financeiro</h2>
  <br>

  <div class="row">

    <div class="col-xs-12 col-sm-6">
        <div id="marcello" style="margin-bottom: 3vh;">
          <%= image_tag "marcello_perfil_c.png", class: 'img-responsive center-block fit-image round-img', alt: "Instituto Guia Financeiro - Marcello" %> <br>
          <h2>Marcello Moreira <a href="https://www.linkedin.com/in/marcellojmoreira/" target="_blank"><i class="fab fa-linkedin" style="color: white; font-size: 4vh;"></i></a> </h2>
          <p style="font-size: 2.5vh; font-weight: bold; font-style: italic;">Sócio & Planejador Financeiro Pessoal na Empresa Guia Financeiro há 3 anos. Meu papel é auxiliar as pessoas a se organizarem financeiramente por meio de estratégias financeiras e conquistarem seus objetivos e sonhos de vida, de maneira equilibrada e sempre respeitando o seu perfil e estilo de vida.
          </p>
          <br>
          <p style="font-size: 2vh;">Formado em Administração de Empresas pelo Unipam, além de ser Pós Graduado em Gestão de Pessoas & RH e Gestão Empresarial. Atuei por 6 anos nos dois maiores bancos comerciais do Brasil, que hoje possuem representatividade no mundo de forma sustentável (Banco do Brasil) e no ranking de top 10 bancos, como um dos maiores bancos privados do mundo (Banco Itaú).
      <br> <br>
          Atualmente sou planejador financeiro pessoal de 80 famílias e head da área de formação de novos planejadores financeiros do Guia Financeiro. Além  disso, sou responsável pelas palestras e cursos sobre Educação Financeira.
          </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div id="felipe" style="margin-bottom: 3vh;">
          <%= image_tag "felipe_perfil_c.png", class: 'img-responsive center-block fit-image round-img', alt: "Instituto Guia Financeiro - Felipe" %> <br>
          <h2>Felipe Guimarães <a href="https://www.linkedin.com/in/%F0%9F%92%A1-felipe-guimar%C3%A3es-23415026/" target="_blank"><i class="fab fa-linkedin" style="color: white; font-size: 4vh;"></i></a> </h2>

          <p style="font-size: 2.5vh; font-weight: bold; font-style: italic;">Fundador de uma start-up (Com Licença) e hoje, Sócio & Fundador da Império Investimentos (empresa credenciada à XP Investimentos). Meu papel é atuar na Assessoria de Investimentos dos clientes de maneira assertiva e alinhada ao seu perfil, aproveitando oportunidades do mercado e auxiliando na conquista de projetos através dos investimentos.
          </p>
          <br>
          <p style="font-size: 2vh;">Formado em economia pela Ibmec, com experiência em consultoria financeira em um big four americana, como gestor de produtos digitais de um unicórnio brasileiro.
      <br> <br>
          Além disso, sou responsável por passar conhecimento através de cursos de educação financeira, voltados para o mercado financeiro, de maneira simples e descomplicada.
          </p>
        </div>
    </div>


  </div>

  <%= image_tag "hist.png", class: 'img-responsive center-block', alt: "Instituto Guia Financeiro" %>

  <br>
  <br>


  </div>
</div>
<!-- QUEM SOMOS NOS ***************** -->
