
<style>

   .max-size {
      max-height: 30vh;
   }

   .max-gif-size {
      margin-top: -20vh;
   }

  .cvback {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px;

  }

</style>

<div class="background" style="
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">

<div class="container" style="color: white; border-radius: 3px; max-width: 95%;">
  <div class="row">

    <div class="col-xs-12 col-sm-7 col-md-7">

      <div style="padding: 1.5vh;">
        <h1 style="font-size: 3.2vh; margin-bottom: 2vh;">Quer saber mais sobre a profissão de planejador financeiro profissional?</h1>
        <spam style="font-size: 2vh; background-color: #C4FF33; color: black;">Não perca as lives com os co-fundadores do Instituto Guia Financeiro <a href="#felipe">Felipe</a> e <a href="#marcello">Marcello</a> e descubra tudo sobre planejamento financeiro </spam>
        <a href="#felipe"></a>
        <br>
        <br>
        <ul style="font-size: 1.8vh;">
          <li style="margin-bottom: 5px;">Como aprender finanças e rentabilizar seu conhecimento tornando-se planejador financeiro?</li>
          <li style="margin-bottom: 5px;">Como ter flexibilidade para trabalhar aonde quiser atuando em planejamento financeiro?</li>
          <li style="margin-bottom: 5px;">Como ter uma renda extra no final do mês ajudando pessoas a se planejar financeiramente?</li>
          <li style="margin-bottom: 5px;">Como se tornar um planejador financeiro profissional e ser remunerado por isso?</li>
        </ul>

        <center><p style="font-size: 2vh;"><spam style="font-size: 2.2vh; background-color: #C4FF33; color: black;">E muito mais ao vivo toda quarta as 19h00.</spam> Inscreva-se inteiramente <strong>grátis</strong> por email.</p></center>
        <script async data-uid="ccda067b11" src="https://dedicated-experimenter-5056.ck.page/ccda067b11/index.js"></script>
      </div>

    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 cvback" style="margin-top: 3vh;">
      <br>
      <div>
        <%= image_tag "convitelive.png", class: "img-responsive", style: "border-radius: 3px"  %>
      </div>
      <br>
    </div>

  </div>

</div>


<br>
<br>


<div style="background-color: white;" >
<%= render 'shared/depoimentos' %>
</div>

<%= render 'shared/quemsomos' %>


</div>





























