
<style>

   .max-size {
      max-height: 30vh;
   }

   .max-gif-size {
      margin-top: -20vh;
   }

  .cvback {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 3px;

  }

</style>

<div class="background" style="
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
<br>

<div class="container" style="color: white; border-radius: 3px; max-width: 95%;">
  <div class="row">

    <div class="col-xs-12 col-sm-7 col-md-7">

      <div style="padding: 3vh;">
        <h1 style="font-size: 4vh;">Planilha de planejamento financeiro profissional</h1>
        <spam style="font-size: 2.5vh; background-color: #FFFF00; color: black;">Pra todos que desejam seguir a profissão de planejador financeiro</spam>
        <img style="float:left; height: 90px; margin: 2vh;" src="/assets/felipe_perfil_c-40f0a71fcafca14838532666a1efad898ca33ecb9059d8dc733e9902dd0be276.png">
        <h2 style="font-size: 2vh; line-height: 1.3; font-style: italic;">"Já aconselhei mais de 50 clientes com esse modelo de planilha financeira. Faça o download da planilha interamente grátis e oriente seus clientes também."</h2>

        <h2 style="font-size: 2vh;">Felipe Guimarães | Co-fundador do Instituto Guia Financeiro</h2>
        <br>
        <center><p style="font-size: 2vh;">Inteiramente <strong>grátis</strong> por email.</p></center>
        <script async data-uid="618a01e509" src="https://crafty-architect-8610.ck.page/618a01e509/index.js"></script>
      </div>

    </div>

    <div class="col-xs-12 col-sm-5 col-md-5 cvback">
      <br>
      <div>
        <%= image_tag "dezprofissoes2.png", class: "img-responsive", style: "border-radius: 3px"  %>
        <div style="padding-left: 3vh;">
          <%= image_tag "planilha-planejadorgif.gif", class: "img-responsive", style: "border-radius: 3px; margin-top: -6vh;" %>
        </div>
      </div>
      <br>
    </div>

  </div>

</div>


<br>
<br>


<div style="background-color: white;" >
<%= render 'shared/depoimentos' %>
</div>

<%= render 'shared/quemsomos' %>


</div>





























